#header-nav {
  background-color: #6d6e6a;
  border-radius: 0;
  border: 0;
  height:95px;
  border:2px solid black;
}
.navbar-header{
	height:90px;
}
.navbar-brand h1 {
	color:#222;
  font-size: 1.5em;
  font-weight: bold;
  line-height: .75;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#nav-list {
  margin-top: 10px;
  display: block;
}
#nav-list li {
  color: black;
  font-size: 1.8em;

}
#nav-list li:hover {
  background:white;
}

p{
 margin-right: auto;
  margin-left: auto;
  padding:10px 15px 15px 15px;
  margin-bottom:60px;
  background-color: #6d6e6a;
  border:2px solid black;
  overflow: hidden;
  color: black;
}
span{
	display: block;
	color: black;
	font-size: 1.5em;
}
section{
  position:absolute;
  align-content:center;
  width:150px;
  text-align: center;
  font-size: 1.25em;
  padding: 5px 0px 5px 0px;
  border:2px solid black;
  font-weight: bold;
}

@media (max-width: 768px)
{
		#collapsable-nav{
	    background-color: #E7E7E7;
	    border-top: 2px solid black; 
}
}

