* {
      box-sizing: border-box;
      padding: 0px;
      margin:0px;
      font-family: sans-serif;
}
h1 {
  margin: 15px;
  padding-top: 20px;
  text-align: center;
}
div{
  position: relative;
  padding:20px;

}
p{

  background-color: #6d6e6a;
  height: 200px;
  padding:50px 15px 15px 15px;
  margin-right: auto;
  margin-left: auto;
  border:2px solid black;
  overflow: hidden;

}
section{
  position:absolute;
  top:20px;
  right:20px;
  width:150px;
  text-align: center;
  font-size: 1.25em;
  padding: 5px 0px 5px 0px;
  border:2px solid black;
  font-weight: bold;
}
.first section {
  background-color:pink;
}
.second section{
  background-color:red;
  color: white;
}
.third section{
  background-color:yellow;

}
.row {
  width: 100%;
}
.first,.second,.third {
    float: left;
  }
@media (min-width: 992px) {
  .first,.second,.third {
    width:33.33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .first,.second{
    width:50%;
  }
  .third{
    width:100%;
  }
  }
  
